
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-cinza);
}

:root {
    --cor-de-fundo: #F5F5F5;
    --cor-branco: #ffffff;
    --cor-verde: #EAF2FD;
    --cor-cinza: #464646;
    --cor-azul: #2A7AE4;
}

ol, ul, li {
    list-style: none;
}

body {
    font-family: "Raleway", 'sans-serif';
    background-color: var(--cor-de-fundo-menu);
}


.cabecalho {
    display: flex;
    padding: 1rem;
    background-color: var(--cor-de-fundo);
}

.cabecalho__logo-e-titulo {
    display: flex;
}

.cabecalho__logo {
    max-width: 30px;
    max-height: 30px;
}

h1 {
    font-size: 1.2rem;
    margin-left: 5px;
}

.navegacao__lista > li {
    display: none;
}

.navegacao__elemento:last-child {
    display: block;
    padding-left: 30px;
}

.navegacao__elemento:last-child a {
    text-decoration: none;
}

.apresentacao {
    padding: 5px 9px 30px 9px;
    background-color: var(--cor-de-fundo);
}

.apresentacao__foto {
    max-width: 20%;
    max-height: 20%;
    border-radius: 1000px;
    margin-top: 30px;
}


.apresentacao__conteiner {
    max-width: 100%;
}

.apresentacao__titulo {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}

.apresentacao__subtitulo {
    font-weight: normal;
    font-size: 1.1rem;
    padding: 10px;
}

.redes {
    display: flex;
}

.redes__elemento {
    margin: 3px;
}

.redes__elemento a {
    font-weight: 900;
    font-size: 0.9rem;
    text-decoration: none; 
}

.redes__elemento a:hover {
    color: black;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.redes__elemento--seta{
    width: 15px;
    height: 15px;
}

/* SEÇÃO SOBRE MIM */

#sobre-mim {
    background-color: var(--cor-verde);
    padding: 30px;
    font-size: 1.2rem;
}

.sobre-mim__titulo {
    font-weight: bold;
}

.sobre-mim__texto {
    font-weight: normal;
    font-size: 1.1rem;
    padding: 20px 20px 20px 0;
}

/* SEÇÃO DE HABILIDADES E HOBBIES */

#skills, #hobbies {
    background-color: var(--cor-de-fundo);
    
}

.habilidades__titulo, .hobbies__titulo, .formacao__titulo, .projetos__titulo{
    text-align: center;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.habilidades__lista, .hobbies__lista {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    width: 100%;
    flex-wrap: wrap;
    
}

.habilidades__elemento, .hobbies__elemento {
    width: 35%;
    height: 35%;
    background-color: var(--cor-branco);
    padding: 20px 10px 10px 10px;
}


.habilidades__nome, .hobbies__nome {
    font-size: 1.1rem;
    font-weight: bold;
    
}

/* SEÇÃO FORMARÇÃO  */

#formacao {
    background-color: var(--cor-verde);
}

.formacao__lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding-bottom: 50px;
}

.formacao__elemento {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.formacao__icone {
    width: 30%;
    height: 10%;
}

.formacao__nome {
    padding: 5px;
}

/* SEÇÃO PROJETOS */

#projetos {
    background-color: var(--cor-de-fundo);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#projetos  img {
    max-width: 100%;
    height: 30%;
    margin: 0 auto;
}

.projetos__conteiner {
    max-width: 100%;
    height: 100%;
    margin-bottom: 70px;
   
}

.projetos__nome {
    font-weight: 900;
    padding-bottom: 10px;
    padding-top: 10px;
}

.projetos__descricao {
    margin-bottom: 20px;
}

.projetos__descricao--repositorio {
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
    padding: 10px;
    margin-right: 20px; 
    text-decoration: none; 
}

.projetos__descricao--repositorio:hover {
    background: linear-gradient(to right, #c7cecc, #4a95e0);
    color: var(--cor-branco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.projetos__descricao--demo {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border: 1px solid var(--cor-azul);
    padding: 10px;
    text-decoration: none;
    font-weight: 100;
}

.projetos__descricao--demo:hover {
    background: linear-gradient(to right, #e3eae8, #a2c0e8);
    color: #2072de;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* CONTATO */

#contato {
    background-color: var(--cor-verde);
}

#contato > img {
    display: none;
}

.contato__titulo {
    padding: 10px 10px 10px 30px;
    text-align: center;
}

.contato__container > p {
    padding-left: 20px;
    text-align: center;
    flex-wrap: wrap;
    padding-right: 20px;
}

.contato__formulario {
    flex-direction: column;
    display: flex;
    padding: 20px 0 20px 0;
    align-items: center;
    
}

.contato__campo {
    padding-bottom: 20px;
    height: 46px;
    width: 50%;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
}

.contato__campo--textarea {
    height: 90px;
}

.contato__botao {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
    border: 2px solid var(--cor-azul);
    padding: 10px 30px 10px 30px;
}

.contato__botao:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
}

/* Telas grandes */
@media (min-width: 1000px) {

    /* Navegação */
    .cabecalho {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .navegacao__lista {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .navegacao__lista > li {
        display: block;
        font-size: 1.1rem;
    }

    .navegacao__lista > li > a {
        text-decoration: none;
    }

    /* Apresentação */

    .apresentacao {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 70px;
    }

    .apresentacao__conteiner {
        height: 50%;
    }

    /* Sobre mim */

    #sobre-mim {
        padding-left: 210px;
        
    }

    .sobre-mim__texto {
        width: 50%;
    }

    /* Habilidades */

    .habilidades__elemento, .hobbies__elemento {
        width: 200px;
        height: 200px;
        
    }

    .habilidades__icone, .hobbies__icone {
        margin-top: 70px;
    }

    /* Formação */

    .formacao__icone {
        width: 300px;
        height: 300px;
    
    }

    /* Projetos */

    .projetos__conteiner{
        display: flex;
        align-items: center;
    }

    .projetos__conteiner:nth-child(3){
        flex-direction: row-reverse;
    }

    .projetos__conteiner > img {
        width: 50%;
    }

    .projetos__container--descricao {
       margin-left:60px;
       margin-right: 60px;
        
    }  
    
    #contato {
        display: flex;
        justify-content: center;
    }
    
    #contato > img {
        display: flex;
        margin-bottom: 30px;
    }

    .contato__container {
        flex-direction: column;
        padding-left: 10px;
    }

    .contato__campo {
        width: 100%;
        height: 60px;
    }

    .contato__campo--textarea {
        height: 150px;
    }
}